body {
    margin: 0;
    font-family: 'Noto Sans KR';
}
h2, h4, h5, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #C4C4C4;
}

/* nav */

.nav-background {
    width: 100%;
    height: 600px;
}

.nav-background img {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    width: 1280px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

/* 더보기 아이콘 */

.list-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 23px;
    cursor: pointer;
}

/* 목차 리스트 */

.main-menu {
    padding-left: 25px;
    padding-top: 23px;
    margin: 0px;
    display: inline-block;
}

.menu {
    width: 80px;
    margin-left: 25px;
    float: left;
    text-align: center;
}

.sub-menu {
    margin-top: 3px;
    padding: 0px;
    background-color: #ffffff4d;
    opacity: 0;
    transition: all 0.7s;
}

.sub-menu li {
    padding: 4px 0px 5px;
    border-bottom: 1px solid #1f273d66;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: black;
}

.menu p {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

ul, li {
    list-style-type: none;
}

/* 상단 nav 로고 */

.main-logo {
    width: 64px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.menu:hover > .sub-menu {
    opacity: 1;
}

.opacity1s {
    opacity: 1;
    transition: all 1s;
}

/*
메인 배경
=========================================*/
.main_background {
    width: 1280px;
    margin: auto;
}
.main_photo {
    position: relative;
}
.main_post h4 {
    font-size: 32px;
    margin-top: 163px;
    margin-bottom: 0;
    font-weight: 500;
}
.main_post p {
    font-size: 18px;
    color: #4d4d4d;
    letter-spacing: -1px;
    font-weight: 400;
}
.main_photo img {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: 100px;
}
.m_ph {
    margin: 0 110px 0 0;
}
/*== 사진 이동 ==*/
#m_phid_2 {
    position: absolute;
    top: -120px;
    left: 463px;
}
#m_phid_3 {
    position: absolute;
    top: -236px;
    right: 0;
}


/*
LIne
=========================================*/
.line {
    margin: 95px 0 20px 0;
    border-top: solid 1px white;
}
.top_side {
    background-color: #C0B3A0;
    text-align: center;
    padding: 30px 0 30px 0;
}
.top_text {
    font-size: 16px;
    color: #696257;
}
.bottom_text {
    font-size: 26px;
    color: #4E473E;
    font-weight: 500;
    letter-spacing: -2px;
}

/*
역사(시대별)
=========================================*/
.history {
    width: 1280px;
    margin: auto;

    margin-top: 119px;
}
.history > h4 {
    font-size: 28px;
    font-weight: 500;
}


/*== 애니메이션  ==*/
.his_animation {
    position: relative;
    margin-top: 65px;
}
.circle {
    padding: 0px;
    margin-left: 105px;
    position: absolute;
    top: -3px;
}

.cir {
    width: 10px;
    height: 10px;
    padding: 0px;
    margin-left: 200px;
    float: left;
    list-style-type: none;
    border-radius: 100%;
    background-color: #C8C8C8;
}

.cir:first-child {
    margin-left: 0px;
}

.checkbk {
    background-color: #000000;
}

/* 시대별 이름 나열 */
.circle_name {
    margin-top: 10px;
}

.cir_nam {
    margin-left: 138px;
    float: left;
    list-style-type: none;
    color: #C8C8C8;
    font-size: 18px;
    letter-spacing: -0.5px;
    text-align: center;
}

.cir_nam:first-child {
    margin-left: 38px;
}

.checkfbk {
    color: #000000;
}

/* 애니메이션 바뀌는 내용 */
.history_contents {
    margin-top: 70px;
    display: none;
}

.view {
    display: block;
}

.his-subtitle {
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #C8C8C8;
}
.history_contents h4 {
    font-size: 21px;
    margin: 0 0 22px 0;
}
.his-ex {
    font-size: 14px;
    letter-spacing: -1px;
    display: inline-block;
    color: #4D4D4D;
    padding-bottom: 22px;
}
.his_con_1 {
    position: relative;
}
.his_con_1 img {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
}


/*
MIDDLE
=========================================*/
.full_middle {
    background-color: rgba(192, 179, 160, 0.1);
    margin-top: 145px;
    height: 370px;
}
.all_middle {
    width: 1280px;
    margin: auto;

    position: relative;
}
/*== 내용 ==*/
.middle {
    position: absolute;
    right: 220px;
    bottom: -332px;
}
.middle h2 {
    font-size: 64px;
    height: 40px;
    color: #4D4D4D;
}
.middle h4 {
    font-size: 28px;
    letter-spacing: -2px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
}
.middle p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;

    padding-bottom: 30px;
}

/*== 사진  ==*/
.middle_photo{
    width: 1280px;
    margin: auto;

    position: relative;
}
.middle_photo img {
    position: absolute;
    bottom: -543px;
    left: -50px;
}
/*== more버튼 ==*/
.more {
    width: 90px;
    height: 25px;

    font-size: 9px;
    border: 1px solid #C4C4C4;
    border-radius: 17.5px;
    text-align: center;

}
.more > a {
    vertical-align: middle;
}


/*
북촌 주요 시설
=========================================*/
/*== 메인 타이틀 제목 ==*/
.main_place {
    width: 1280px;
    margin: auto;

    margin-top: 225px;
}
.main_place h4 {
    font-size: 28px;
    display: inline-block;
}
.main_place a {
    font-size: 7px;
    font-weight: 200;
    letter-spacing: -1px;

    width: 45px;
    height: 17px;
    text-align: center;
    padding: 1px 10px;
    margin-left: 13px;

    border-radius: 10px;
    border: 1px solid #C4C4C4;
}
.main_place p {
    font-size: 18px;
    color: #4D4D4D;
    letter-spacing: -1px;
    margin-top: 5px;
}

/*== 주요 시설 ==*/
/* 전체 */
.place_1 > div {
    display: inline-block;
}
.place_2 > div {
    display: inline-block;
}
/* 박스 */
.title {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    /* width: 248px; */
    width: 250px;
    height: 250px;

    margin: 60px 35px 0 0;
    padding: 40px 0 0 42px;
}
.title_1 {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    /* width: 248px; */
    width: 240px;
    height: 250px;

    margin: 60px 0 0 0;
    padding: 40px 0 0 42px;
}
/* 제목, 내용 */
.title h4 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
}
.title p {
    font-size: 14px;
    letter-spacing: -1px;
}
.title_1 h4 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
}
.title_1 p {
    font-size: 14px;
    letter-spacing: -1px;
}
.time {
    padding-top: 58px;
    padding-bottom: 21px;
}
.tel {
    margin-top: 16px;
    padding-bottom: 42px;
}


/*
주의사항
=========================================*/
.all_notice {
    width: 1280px;
    margin: auto;
}
.notice_title {
    margin-left: 0;
    margin-top: 126px;
}
.notice_title h4 {
    font-size: 28px;
}
.notice_title p {
    font-size: 18px;
    color: #4D4D4D;
    letter-spacing: -1px;
    margin-top: 5px;
}
/*== 사진  ==*/
.notice_photo {
    padding-left: 100px;
    padding-top: 65px;
    margin-bottom: 42px;
}
.notice_photo li {
    display: inline;
}
.notice_ph {
    padding-right: 247px;
}
/*== 내용  ==*/
.notice_contents {
    display: inline-block;
    text-align: center;
}
.notice_contents h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.notice_contents p {
    font-size: 14px;
    color: #4D4D4D;
    letter-spacing: -1px;
}
#notice_con_1 {
    margin-left: 30px;
}
#notice_con_2 {
    margin-left: 133px;
}
#notice_con_3 {
    margin-left: 153px;
}
#notice_con_4 {
    margin-left: 183px;
}


/*
한옥 등록제
=========================================*/
/*== 내용  ==*/
.service {
    width: 1280px;
    margin: auto;

    margin-top: 151px;
    margin-bottom: 155px;
}
.service_details h4 {
    font-size: 28px;
    padding-right: 10px;
    display: inline-block;
}
.service_details > div {
    width: 45px;
    height: 17px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #C4C4C4;

    font-size: 9px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;

}
.service_details p {
    font-size: 18px;
    color: #4D4D4D;
    letter-spacing: -1px;
    margin: 11px 0;
}

/*==  사진  ==*/
.service_photo {
    position: relative;
}
.number {
    padding-left: 20px;
    margin-top: 47px;
    margin-bottom: 0;
}
.number li {
    display: inline;
    font-size: 18px;
    font-weight: 400;
}
.num {
    padding-right: 305px;
}


/* 화살표 */
.arrow {
    padding-left: 20px;
    position: absolute;
    top: 16px;
}
.arrow li {
    display: inline;
}
.arr {
    padding-right: 315px;
}


/* 세부 내용 */
.contents {
    padding: 8px 0 0 20px;
}
.contents > div {
    float: left;
}
.contents > div h4 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 7px;
}
.contents > div p {
    font-size: 14px;
    color: #4D4D4D;
}
.con_1 {
    padding-right: 92px;
}
.con_2 {
    padding-right: 157px;
}
.con_3 {
    padding-right: 54px;
}

/* 하단 */

footer {
    border-top: 1px solid #D8D8D8;
}

.footer {
    width: 1280px;
    margin: auto;
}

.footer h5 {
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
    margin-top: 28px;
}

.footer h5:first-child {
    margin-top: 50px;
}

.footer-main {
    margin: 0px;
    padding: 0px;
}

.footer-menu {
    margin-top: 4px;
    padding: 0 16px;
    float: left;
    border-left: 1px solid #D8D8D8;
    font-size: 13px;
    color: #505050;
}

.footer-main .footer-menu:first-child {
    padding-left: 0px;
    border-left: none;
}

.capyright {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #505050;
}