body {
    margin: 0;
    font-family: 'Noto Sans KR';
    position: relative;
    /* background-color: pink; */

}

/* nav */

.nav-background {
    width: 100%;
    height: 600px;
}

.nav-background img {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    width: 1280px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

/* 더보기 아이콘 */

.list-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    top: 23px;
    cursor: pointer;
}

/* 목차 리스트 */

.main-menu {
    padding-left: 25px;
    padding-top: 23px;
    margin: 0px;
    display: inline-block;
}

.menu {
    width: 80px;
    margin-left: 25px;
    float: left;
    text-align: center;
}

.sub-menu {
    margin-top: 3px;
    padding: 0px;
    background-color: #ffffff4d;
    opacity: 0;
    transition: all 0.7s;
}

.sub-menu li {
    padding: 4px 0px 5px;
    border-bottom: 1px solid #1f273d66;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: black;
}

.menu p {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

ul, li {
    list-style-type: none;
}

/* 상단 nav 로고 */

.main-logo {
    width: 64px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.menu:hover > .sub-menu {
    opacity: 1;
}

.opacity1s {
    opacity: 1;
    transition: all 1s;
}

/* 
이미지
=======================================*/

.nav_background {
    position: relative;

}
.nav_background img{
    width: 100%;
    height: 1005px;
    margin: auto;
}
/* 스크롤 어둡게 */
.animateOut {
    /* opacity: 0; */
    filter: brightness(50%);
    transition: filter 0.5s ease;
}
.animateIn {
    filter: brightness(100%);
    /* transition-duration: 2s; */
    /* opacity: 1; */
    transition: filter 0.5s ease;
}
/* 
한옥이란
=======================================*/
.title {
    width: 1280px;
    margin: auto;
    position: relative;

    z-index: 1;
}
.a_title p {
    font-size: 15px;
    margin: 0;

    padding-top: 30px;
    padding-bottom: 8px;
    text-align: center;
}
.a_title h4 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.a_title {
    width: 800px;
    height: 150px;
    background-color: white;
    border-radius: 20px;

    position: absolute;
    top: -118px;
    left: 225px;
}
.b_title {
    font-size: 32px;
    padding: 87px 0 89px 0;
    background-color: white;
}
.b_title h4 {
    height: 46px;
    margin: 0;

    font-weight: 600;
    letter-spacing: -1px;
}

/*
한옥의 변화
==============================*/

.sba_title {
    width: 1280px;
    margin: auto;

}
.suba_title {
    background-color: white;
    position: relative;
    z-index: 5;
}
.suba_title h4 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1px;

    padding: 92px 0 90px 0;
    margin: 0;

}

/* 
한옥, 한옥마을
=======================================*/
.sa_title {
    width: 1280px;
    margin: auto;
}
.sub_title {
    border: 1px solid #D8D8D8;
    height: 69px;
    background-color: white;
}
.sub_title p {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -1px;

    padding: 16px 0 20px 0;

}

/* 
첫번째 포스트
=======================================*/
.all_post_1 {
   background-color: white;
   position: relative;

   z-index: 5;
}
.main_post_1 {
    width: 1280px;
    margin: auto;

}
.main_post_1 h4 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -2px;
    text-align: center;

    margin-top: 0;
    padding-top: 177px;
    padding-bottom: 15px;
}
.main_post_1 p {
    letter-spacing: -1px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 152px;
}

/*
두번째 사진과 글
=======================================*/
/*== 사진 ==*/
.main_post_2 {
    width: 1280px;
    margin: auto;
    position: relative;
}
.main_post_2 img {
    position: absolute;
    right: 62px;
    bottom: -52px;
}
.main_post_2_soild {
    box-shadow: 2px 2px 15px #e2e2e2;
    position: relative;

    z-index: 6;
}

/*== 내용 ==*/
.soild_post2 {
    width: 1280px;
    margin: auto;
}
.soild_post2 h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;

    padding: 67px 0 22px 0;
    margin: 0;
}
.top_p {
    font-size: 14px;
    letter-spacing: -0.5px;
}
.bottom_p {
    height: 17px;
    font-size: 12px;
    font-weight: 200;

    padding: 5px 0 52px 0;
}

/*
세번째 사진과 글
=======================================*/
/*== 사진 ==*/
.main_post_3 {
    width: 1280px;
    margin: auto;
    position: relative;
}
.main_post_3 img {
    position: absolute;
    left: -115px;
    /* left: -107px;   ========== 8px정도 차이남 *//*====================================*/
    top: 170px;
}
/*== 내용 ==*/
.soild_post3 {
    width: 1280px;
    margin: auto;
    /* padding: 460px 0 0 886px; */
}
.soild_post3 h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;

    padding: 460px 0 45px 575px;
    margin: 0;
}
.soild_post3 p {
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #4d4d4d;
    padding-left: 575px;
}

/*
네번째 사진과 글
=======================================*/
.main_post_4_soild {
    position: relative;
}
/*== 사진 ==*/
.main_post_4 {
    width: 1280px;
    margin: auto;
    position: relative;
}
.img_1 {
    width: 640px;
    height: 350px;
    position: absolute;
    right: 0;
    top: 240px;

    box-shadow: 2px 2px 15px #e2e2e2;
    border-radius: 20px;
}
.img_2 {
    /* position: absolute;
    right: 29px;
    top: 535px; */
}
button {
    position: absolute;
    right: 29px;
    top: 535px;

    border: none;
    background-color: white;
    cursor: pointer;
}
/*== 내용 ==*/
.soild_post4 {
    width: 1280px;
    margin: auto;
}
.soild_post4 h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;

    padding: 300px 0 17px 0;
    margin: 0;
}
.soild_post4 p {
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #4d4d4d;
    /* padding-left: 575px; */
}

/*
다섯번째 글
=======================================*/
.main_post_5_soild {
    width: 1280px;
    margin: auto;
    margin-top: 230px;
    text-align: center;

    box-shadow: 2px 2px 15px #e2e2e2;;
}
.main_post_5_a, .main_post_5_b {
    display: inline-block;
    vertical-align: top;
    /* width: 540px; */
    text-align: left;
}
.main_post_5_a {
    border-right: 1px solid #D8D8D8;
    padding: 7px 55px 30px 0;
    margin-right: 48px;
}
.main_post_5_a h4 {
    padding-bottom: 52px;
}
.main_post_5_b {
    padding: 3px 0 0 0;
}
.main_post_5_b p {
    padding: 20px 0 0 0;
}
.main_post_5_soild h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.5px;

    /* margin-bottom: 30px; */
}
.main_post_5_soild p {
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #4D4D4D;

}


/*
여섯번째 짧은 글, 선
=======================================*/
.main_post_6 h4 {
    font-size: 28px;
    font-weight: 550;
    letter-spacing: -2px;
    margin: 0;

}
.main_post_6 p {
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 144px;
}
.main_post_6 {
    width: 1280px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
.main_post_6 img {
    position: relative;
    left: 9px;
}

/*
일곱번째 안동하회마을
=======================================*/
/*== 사진 ==*/
.main_post_7 {
    width: 1280px;
    margin: auto;
    position: relative;
}
.main_post_7 img {
    position: absolute;
    left: -50px;
    top: 82px;
}
/* .main_post_2_soild {
    box-shadow: 2px 2px 15px #e2e2e2;
} */
.main_post_7_soild {
    background-color: rgba(192,179,160,0.1);
    height: 374px;

    margin: 85px 0 0 0;
}

/*== 내용 ==*/
.soild_post7 {
    width: 1280px;
    margin: auto;

    position: relative;
}
.sub_post7 {
    position: absolute;
    right: 98px;
}
.sub_post7 h4 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;

    margin: 0;
    padding: 110px 0 0 0;
}
.sub_post7 p {
    margin: 0;
}
.text_title {
    font-size: 14px;
    color: #5A5A5A;
    letter-spacing: -0.5px;
    padding-top: 5px;
    padding-bottom: 40px;
}
.text_desciption {
    font-size: 18px;
    color: #4D4D4D;
    letter-spacing: -1px;
}
.text_last {
    font-size: 11px;
    color: #A0A0A0;
    padding-top: 20px;
}



/*
여덟번째 안동하회마을
=======================================*/
/*== 위에 타이틀제목 ==*/
.main_post_8_soild {
    width: 1280px;
    margin: auto;

    margin-top: 240px;
    margin-bottom: 30px;
}
.main_post_8_soild h4 {
    font-size: 32px;
    letter-spacing: -1px;

    margin: 0;
}
.main_post_8_soild p {
    font-size: 16px;
    letter-spacing: -1px;
    color: #4D4D4D;
    margin: 0;
    margin-top: 5px;
}

/*== 아래 박스 포스트 ==*/
.main_post_8_image {
    position: relative;
}
.items {
    width: 1580px;
    position: relative;
    left: 50%;
    top: 50%;

    transform: translate(-40.5%);
}
.last_ul, li {
    padding: 0;
    margin: 0;
}
.last_ul {
    white-space: nowrap;
    overflow-x: scroll;
    user-select: none;

    padding-bottom: 60px;
    margin-bottom: 120px;
    
}
.last_ul > li {
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 52px;
}

/* 슬라이드 바 */
.last_ul::-webkit-scrollbar {
    height: 4px; 
} 
/* .items:hover::-webkit-scrollbar {
    width: 10px;
} */
.last_ul::-webkit-scrollbar-thumb {
    background-color: black;
}
.last_ul::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

/* 글 */
.post_8 {
    width: 480px;
    height: 275px;

    background-color: #C0B3A0;
    border-radius: 20px;
    padding: 85px 0 0 50px;
}
.post_8 h4, p {
    margin: 0;
    letter-spacing: -0.5px;
}
.post_8 h4 {
    font-size: 18px;
    font-weight: 400;
    color: #2d2d2d;

    padding-bottom: 12px;
}
.post_8 p {
    font-size: 14px;
    color: #64605A;
}
.p_bottom_title h4 {
    padding-top: 60px;
}

/* 좌우로 슬라이드하세요. */
.add_post {
    font-size: 24px;
    font-weight: 100;
}


/*
네번째 사진 슬라이드
=======================================*/
html, body { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
    /* text-align: center;  */
}
*, *:before, *:after { 
    /* box-sizing: inherit;  */
}
.clearfix:after { content: ''; display: block; clear: both; float: none; }
.title { margin-bottom: 0; text-align: center; font-size: 30px; color: #333; }
.link, .link:visited { display: inline-block; margin: 20px 0; color: #555; text-decoration: none; font-weight: bold; }
.link:hover, .link:focus { color: #9fd6c2; }

.all_container {
    /* width: 1280px;
    margin: auto;
    
    position: absolute;
    top: 242px;
    right: -10px; */

}
#container {
    /* width: 1280px;
    height: 350px;
    margin: auto;  */

    /* box-shadow: 2px 2px 15px #e2e2e2;
    border-radius: 20px; */
    /* position: relative; */
    
}

.slide_wrap {
    position: relative;
    position: absolute;

    left: 50%;
    top: 47%;

    transform: translate(0%);

    width: 640px;
    margin: auto;
    padding-bottom: 0;
    box-shadow: 2px 2px 15px #e2e2e2;
    border-radius: 20px;

    /* position: absolute;
    top: -280px;
    right: 0; */
}
.slide_box {
    width: 100%;
    margin: auto;
    overflow-x: hidden
}
.slide_content {
    display: table;
    float: left;

    width: 640px;
    height: 350px;
    /* background-color: pink; */
    /* border: 1px solid; */
    /* box-shadow: 2px 2px 15px #e2e2e2; */
    border-radius: 20px;
}
.slide_list {
    /* background-color:  #e2e2e2; */
}
/* .slide_content > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: rgb(107, 106, 106);
} */

.slide_btn_box > button {
    position: absolute; 
    top: 80%; 
    /* margin-top: -45px;  */
    width: 8px; 
    height: 16px; 
    font-size: 16px; 
    color: #4D4D4D; 
    background: none; 
    /* border: 1px solid #ddd;  */
    border: none;
    cursor: pointer; 
}

.slide_btn_box > img {
    /* width: 8px;
    height: 16px; */
}

.slide_btn_box > .slide_btn_prev {
    left: 210px; 
}
.slide_btn_box > .slide_btn_next {
    right: 220px; 
}


.slide_pagination {
    position: absolute;
    left: 51.2%; 
    bottom: 49px; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    transform: translateX(-50%); 
}
.slide_pagination .dot {
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    margin: 0 11px; 
    overflow: hidden; 
    background: #ddd; 
    border-radius: 50%; 
    transition: 0.3s; 
}
.slide_pagination .dot.dot_active { background: #333; }
.slide_pagination .dot a { display: block; width: 100%; height: 100%; }


.slide_content > img {
    width: 273px;
    height: 155px;
}
.sl-img_1 {
    position: relative;
}
.sl-img_1 h4, p{
    margin: 0;
    padding: 0;
}
.sl-img_1 > h4 {
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    top: 48px;
    left: 335px
}
.sl-img_1 > p {
    font-size: 14px;
    color: #4D4D4D;
    letter-spacing: -1px;
    text-align: left;

    position: absolute;
    top: 123px;
    left: 335px;
}
.sl-img_1 > img {
    position: absolute;
    top: 50px;
    left: 35px;
}

/*============================*/

.sl-img_2 {
    position: relative;
}
.sl-img_2 h4, p{
    margin: 0;
    padding: 0;
}
.sl-img_2 > h4 {
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    top: 48px;
    left: 335px
}
.sl-img_2 > p {
    font-size: 14px;
    color: #4D4D4D;
    letter-spacing: -1px;
    text-align: left;

    position: absolute;
    top: 100px;
    left: 335px;
}
.sl-img_2 > img {
    position: absolute;
    top: 50px;
    left: 35px;
}

/*============================*/
.sl-img_3 {
    position: relative;
}
.sl-img_3 h4, p{
    margin: 0;
    padding: 0;
}
.sl-img_3 > h4 {
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    top: 48px;
    left: 335px
}
.sl-img_3 > p {
    font-size: 14px;
    color: #4D4D4D;
    letter-spacing: -1px;
    text-align: left;

    position: absolute;
    top: 123px;
    left: 335px;
}
.sl-img_3 > img {
    position: absolute;
    top: 50px;
    left: 35px;
}

/*============================*/
.sl-img_4 {
    position: relative;
}
.sl-img_4 h4, p{
    margin: 0;
    padding: 0;
}
.sl-img_4 > h4 {
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    top: 48px;
    left: 335px
}
.sl-img_4 > p {
    font-size: 14px;
    color: #4D4D4D;
    letter-spacing: -1px;
    text-align: left;

    position: absolute;
    top: 100px;
    left: 335px;
}
.sl-img_4 > img {
    position: absolute;
    top: 50px;
    left: 35px;
}


/* 하단 */

footer {
    border-top: 1px solid #D8D8D8;
}

.footer {
    width: 1280px;
    margin: auto;
}

.footer h5 {
    font-size: 18px;
    margin: 0px;
    font-weight: 500;
    margin-top: 28px;
}

.footer h5:first-child {
    margin-top: 50px;
}

.footer-main {
    margin: 0px;
    padding: 0px;
}

.footer-menu {
    margin-top: 4px;
    padding: 0 16px;
    float: left;
    border-left: 1px solid #D8D8D8;
    font-size: 13px;
    color: #505050;
}

.footer-main .footer-menu:first-child {
    padding-left: 0px;
    border-left: none;
}

.capyright {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #505050;
}